<form  action='/result'>
  <div class="form-group">
    <label for="allergy-number">Enter your allergy score</label>
    <input id="allergy-number" name="allergy-number" type="text">
  </div>
  <button type="submit" class="btn bg-primary">Enter!</button>
</form><br>
<h4>Here is the list of allergen and score</h4><br>
<table>
  <tr>
    <th>Allergen</td>
    <th>Score</td>
  </tr>
  <tr>
    <td>Eggs</td>
    <td>1</td>
  </tr>
  <tr>
    <td>Peanuts</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Shellfish</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Strawberries</td>
    <td>8</td>
  </tr>
  <tr>
    <td>Tomatoes</td>
    <td>16</td>
  </tr>
  <tr>
    <td>Chocolate</td>
    <td>32</td>
  </tr>
  <tr>
    <td>Pollen</td>
    <td>64</td>
  </tr>
  <tr>
    <td>Cats</td>
    <td>128</td>
  </tr>
</table>
